@import url('https://fonts.googleapis.com/css?family=Lato|Vollkorn:700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:700i|Playfair+Display:700&display=swap');
/* "black" #2B040A */
/* deep red #81021C */
/* hover purple #8A4254 */
/* white #fff */

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #2B040A;
}